# Database
POSTGRES_URL=postgresql://...

# GitHub OAuth (for Better Auth)
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Google OAuth (for Better Auth)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# GitHub API (for fetching projects)
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_USERNAME=your_github_username

# Better Auth
BETTER_AUTH_SECRET=your_random_secret_key_here # openssl rand -hex 32
BETTER_AUTH_URL=http://localhost:3000

# Next.js
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000

# Admin Email
ADMIN_EMAIL=
