name: Main CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
  BETTER_AUTH_URL: http://localhost:3000
  ADMIN_EMAIL: some@thing.com
  BETTER_AUTH_SECRET: something
  GOOGLE_CLIENT_ID: something
  GOOGLE_CLIENT_SECRET: something
  GITHUB_CLIENT_ID: something
  GITHUB_CLIENT_SECRET: something
  GITHUB_API_TOKEN: something

jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Typegen
        run: pnpm run typegen

      - name: Format
        run: pnpm run format:check

      - name: Lint
        run: pnpm run lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Build
        run: pnpm build
