name: Main CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache node modules
      id: cache-nodemodules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        path: node_modules
        key: ${{ runner.os }}-build-v2-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-build-v2-${{ env.cache-name }}-
          ${{ runner.os }}-build-v2

    - name: Cache next build
      uses: actions/cache@v2
      id: restore-build-cache
      env:
        cache-name: cache-next-build
      with:
        path: .next/cache
        key: ${{ runner.os }}-build-v2-${{ env.cache-name }}

    - name: Setup pnpm
      uses: pnpm/action-setup@v2.2.2
      with:
        version: 7.1.7

    - name: Install dependencies
      if: steps.cache-nodemodules.outputs.cache-hit != 'true'
      run: pnpm i --frozen-lockfile

    - name: Format
      run: pnpm format

    - name: Lint
      run: pnpm lint

    - name: Build
      run: pnpm build
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
